@model RutotecaWeb.Models.RutaDTO

<h1>
    @Html.DisplayFor(model => model.CodigoTipo)  @Html.DisplayFor(model => model.CodigoLugar)
    @if (!String.IsNullOrEmpty(Model.Version))
    {
        @String.Concat(Model.Numero, '.', Model.Version);
    }
    else
    {
        @Html.DisplayFor(model => model.Numero)
    }
    @if (!String.IsNullOrEmpty(Model.Etapa))
    {
        @if (!String.IsNullOrEmpty(Model.SubVersion))
        {
            @String.Concat(" Etapa: ", Model.Etapa, '.', Model.SubVersion);
        }
        else
        {
            @String.Concat(" Etapa: ", Model.Etapa);
        }
    }
</h1>
<h2>
    @Html.DisplayFor(model => model.Nombre)
</h2>

@await Html.PartialAsync("_DatosRuta", @Model)
@await Html.PartialAsync("_VisorRuta", @Model)



<div id="mapid" class="d-block w-100" style="height: 400px">Cargando Ubicación...</div>
@await Html.PartialAsync("_PerfilDeRuta", @Model)
<div id="dvImagenesPostBind">
    <div class="loaderCenter">
        <span class="loadingText">Buscando Imagenes....</span>
    </div>
</div>
<br />
<div id="dvArchivosPostBind">
    <div class="loaderCenter">
        <span class="loadingText">Buscando Archivos....</span>
    </div>
</div>
<br />
<div id="dvCercanosPostBind">
    <div class="loaderCenter">
        <span class="loadingText">Buscando cercanos....</span>
    </div>
</div>
<br />
<div id="dvRelacionadosPostBind">
    <div class="loaderCenter">
        <span class="loadingText">Buscando relacionados....</span>
    </div>
</div>

<script type="text/javascript">
    function LoadImagenes()
    {
        $.ajax
            ({
                url: "/Home/GetImagenes",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model.IdElemento},
            type: "GET",
            //cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvImagenesPostBind").html(t)
            },
            error: function()
            {
                $("#dvImagenesPostBind").html("Datos no encontrados")
            }
        })
    }
    function LoadArchivos()
    {
        $.ajax
            ({
                url: "/Home/GetArchivos",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model.IdElemento},
            type: "GET",
            //cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvArchivosPostBind").html(t)
            },
            error: function()
            {
                $("#dvArchivosPostBind").html("Datos no encontrados")
            }
        })
    }
    function LoadCercanos()
    {
        $.ajax
            ({
                url: "/Home/GetLugaresCercanos",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model.IdElemento},
            type: "GET",
            //cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvCercanosPostBind").html(t)
            },
            error: function()
            {
                $("#dvCercanosPostBind").html("Datos no encontrados")
            }
        })
    }
    function LoadRelacionados()
    {
        $.ajax
            ({
                url: "/Home/GetRelacionados",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model.IdElemento},
            type: "GET",
            //cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvRelacionadosPostBind").html(t)
            },
            error: function()
            {
                $("#dvRelacionadosPostBind").html("Datos no encontrados")
            }
        })
    }

    function LoadMapa()
    {
        $.ajax
            ({
                url: "/Home/GetMapa",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model.Id},
            type: "GET",
            //cache: !0,
            datatype: "html",
            success: function(t)
            {
                var mymap = L.map('mapid').setView([t.intermedioLat , t.intermedioLon], 13);
                var puntos = JSON.parse(t.puntos);
                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                    maxZoom: 18,
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1
                }).addTo(mymap);
                var polyline = L.polyline(puntos, { color: 'red' }).addTo(mymap);
                mymap.fitBounds(polyline.getBounds());
            },
            error: function()
            {
                $("#dvRelacionadosPostBind").html("Datos no encontrados")
            }
        })
    }
    $(document).ready(function()
    {
        LoadMapa();
        LoadPerfil();
        LoadImagenes();
        LoadArchivos();
        LoadCercanos();
        LoadRelacionados();
    });
</script>

