@model RutotecaWeb.Models.RutaDTO

<h1>
    @Html.DisplayFor(model => model.CodigoTipo)  @Html.DisplayFor(model => model.CodigoLugar)
    @if (!String.IsNullOrEmpty(Model.Version))
    {
        @String.Concat(Model.Numero, '.', Model.Version);
    }
    else
    {
        @Html.DisplayFor(model => model.Numero)
    }
    @if (!String.IsNullOrEmpty(Model.Etapa))
    {
        @if (!String.IsNullOrEmpty(Model.SubVersion))
        {
            @String.Concat(" Etapa: ", Model.Etapa, '.', Model.SubVersion);
        }
        else
        {
            @String.Concat(" Etapa: ", Model.Etapa);
        }
    }
</h1>
<h2>
    @Html.DisplayFor(model => model.Nombre)
</h2>
<ul>
    @if (Model.Longitud.HasValue)
    {
        <li>
            <b>Longitud: </b> @Html.DisplayFor(model => model.Longitud) km
        </li>
    }
    @if (Model.IBP.HasValue)
    {
        <li>
            <b>IBP: </b> @Html.DisplayFor(model => model.IBP)
        </li>
    }
    @if (Model.Ascenso.HasValue)
    {
        <li>
            <b>Ascenso Acumulado: </b> @Html.DisplayFor(model => model.Ascenso) metros
        </li>
    }
    @if (Model.Descenso.HasValue)
    {
        <li>
            <b>Descenso Acumulado: </b> @Html.DisplayFor(model => model.Descenso) metros
        </li>
    }
    @if (!String.IsNullOrEmpty(Model.Dificultad))
    {
        <li>
            <b>Dificultad: </b> @Html.DisplayFor(model => model.Dificultad)
        </li>
    }

    @if (!String.IsNullOrEmpty(Model.Duracion))
    {
        <li>
            <b>Duración: </b> @Html.DisplayFor(model => model.Duracion)
        </li>
    }

    @if (Model.Circular.HasValue)
    {
        <li>
            @if (Model.Circular.Value)
            {
                <b>Ruta Circular</b>
            }
            else
            {
                <b>Ruta Lineal</b>
            }
        </li>
    }
</ul>

@await Html.PartialAsync("_PerfilDeRuta", @Model)

<br />
<div id="dvCercanosPostBind">
    <div class="loaderCenter">
        <span class="loadingText">Buscando cercanos....</span>
    </div>
</div>
<br />
<div id="dvRelacionadosPostBind">
    <div class="loaderCenter">
        <span class="loadingText">Buscando relacionados....</span>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    function LoadCercanos()
    {
        $.ajax
            ({
                url: "/Home/GetLugaresCercanos",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model.IdElemento},
            type: "GET",
            //cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvCercanosPostBind").html(t)
            },
            error: function()
            {
                $("#dvCercanosPostBind").html("Datos no encontrados")
            }
        })
    }
    function LoadRelacionados()
    {
        $.ajax
            ({
                url: "/Home/GetRelacionados",
                contentType: "application/html; charset=utf-8",
                data: {id:@Model.IdElemento},
            type: "GET",
            //cache: !0,
            datatype: "html",
            success: function(t)
            {
                $("#dvRelacionadosPostBind").html(t)
            },
            error: function()
            {
                $("#dvRelacionadosPostBind").html("Datos no encontrados")
            }
        })
    }

    $(document).ready(function()
    {
        LoadPerfil();
        LoadCercanos();
        LoadRelacionados();

    });
</script>

